
//- 
//- 
//- 
//- ///////////////////////////////////////// REPETITIVE

mixin log(msg)
	script. 
		console.log(!{JSON.stringify(msg)})

//- LINKS
mixin link(o)
	ul.links(class= o.cl || "")
		li(style='display: inline;')
			a.gowhite.bt.btn-border-slider-white.round.left.dkt.whiteBG(href=o.url)= t(o.prename || 'view')
		li(style='display: inline;')
			a.goblack.bt.btn-border-slider-black.round.right.dktBG(href=o.url)= t(o.name || 'more')

//- CALL US INFO
mixin callus(number, cl)
	.call
		h4.bt.sizeXLg.txtL.inlineblock.padXSm.HpadXLg.antraciteBG.round.left.dkt.dktBD(class=cl)= t('call') 
		h4.bt.sizeXLg.txtL.inlineblock.padXSm.HpadXLg.dktBG.round.right.white.dktBD= t(number)

//- BACK BUTTON
mixin back(obj)
	+link({prename:t('back_to'), name:t('products'), cl:"dkt greyhover", url:obj.link})
	//- .linker.marXXXLg.round.both.dkt.dktBG.inlineblock
		a.block.sizeSm.font-inc.white.padXXLg.VpadSm(href=obj.link)= t('back_to', obj)


//- MEDIAS
mixin mediasmallslide(media)
	li.round.left.cover.abs.top0.left0.zi10.lazy(lazy=CDN + media.url, style='width:100%;height:100%;background-repeat:no-repeat;background-position:50% 50%;background-size:cover;opacity: 0;')
		span.hidden Image


//- LINK AS A BLOCK
mixin linkblock(ch, isPatchwork, linkname, cl)
	- var name = ch.name ;
	- var cleanname = ch.cleanname ;
	- var surname = ch.surname ;
	- var cleanlink = ch.cleanlink ;
	- var medias = ch.post.bracket[1].media ;
	- if(isPatchwork){
		- var isHome = section.name == 'home' ;
		- var clblock = isHome ? "size1of2" : "size1of3"
		li.work-item.rel.context(class=!!cl ? clblock + ' ' + cl : clblock)
			.work-image.fullH.lazy(lazy=CDN + medias[0].url, style="background-repeat:no-repeat;background-position:left top;background-size:cover")
				.hidden Image
				//- img(src= CDN + medias[0].url , alt='')
			.work-caption(style="font-size:80%")
				.work-descr(class=isHome ? "sizeXLg" : "sizeR")= surname
				h3.work-title.uppercase.Bmar(class=isHome ? "sizeXXLg" : "sizeXLg")= cleanname 
				+link({name:linkname, cl:"dkt", url:cleanlink})
	- } else {
		.work-item.rel.context.fullW.fullH.noMQ(class=cl)
			.work-image.fullH.lazy(lazy=CDN + medias[0].url, style="background-repeat:no-repeat;background-position:left top;background-size:cover")
				.hidden Image
				//- img(src= CDN + medias[0].url , alt='')
			.work-caption(style="font-size:80%")
				.work-descr.ls1= surname
				h3.work-title.uppercase.Bmar.ls1= cleanname
				+link({name:linkname, cl:"dkt", url:cleanlink})
	- }


//- HEADERS

//- SECTION HEADER IMAGE
mixin topimage(media, color, title, subtitle)
	- var newstr = '' ;
	.extra.rel.context.cover.lazy(lazy=CDN + media.url , style='height:30%;background-repeat:no-repeat;background-position:50% 50%;background-size:cover')
		+sectionheader(title, subtitle)

//- SECTION HEADER
mixin sectionheader(title, subtitle)
	.container.rel.fullH.context
		.abs.right0.bottom0.context.HpadXXXXLg.BpadXLg.sizeXXLg.txtR
			.hs-title-size-3.font-alt.m-b-20.context.txtL.white
				span.block.floatR.round.both= t(title)
			.hs-title-size-1.font-inc.LmarXXSm.white= t(subtitle)


//- PAGE HEADER
mixin pageheader(title, subtitle)
	if title
		.hs-title-size-3.font-alt.m-b-20.context.white
			span.block.round.both.dkt= t(title)
	if subtitle
		.hs-title-size-1.font-inc.LmarXXSm.BmarSm.shady= t(subtitle)


//- INSIDE PAGE HEADER
mixin innerheader(header, subheader, clh, cls)
	.sizeXXXXLg.rhdp.heavy 
		.sizeXXXXLg(class=clh)= t(header)
		if(subheader)
			- var ttt = t(subheader) ;
			if(ttt.toLowerCase() == 'dkt')
				+dktlogosmall
			else
				.sizeXLg(class=cls)= ttt



//- FOOTER CREDITS & INFOS
mixin footer()
	.ivoryBG.sizeXLg
		.container.rel(style="padding-top:2em;padding-bottom:2em;")
			.abs.right0.top0.RmarXXLg
				a.block.RmarginLg.pad.HpadLg.sizeSm.dktBG.white.topofpage(href="#")= t('topofpage')
			.line.txtL
				h6.sizeSm.dkt.LmarXXXXLg= t('DKT__globals.company.copy_to')
				p.unit.txtL.sizeSm.LmarXXXXLg
					!= t('DKT__globals.company.address_1')
					br
					!= t('DKT__globals.company.address_2')
					span.shady
						br
						!= t('tel') + " : " + t('DKT__globals.company.telephone')
						br
						!= t('fax') + " : " + t('DKT__globals.company.fax')

				.lastUnit.sizeXSm.RmarXXXXLg.txtR
					span.block.marXXXXLg
						!= t('DKT__globals.company.copy') + t('DKT__globals.company.copy_year') 
						br 
						!= t('DKT__globals.company.copy_to')
					+dktlogosmall

//- 
//- 
//- 
//- ///////////////////////////////////////// CUSTOM BLOCKS

//- 
//- 
//- 
//- ///////////////////////////////////////// HOME SLIDESHOWS


//-  MAIN SLIDESHOW
mixin slideshow()
	.slideshow.module-parallax.module-fade.module-full-height.fullH
		- if(!!target_sections && target_sections.length){
			ul.slides
				each child_section in target_sections
					+slide(child_section, target_sections.indexOf(child_section))

			ol.flex-control-nav.flex-control-paging

				each child_section in target_sections
					li
						a= target_sections.indexOf(child_section) + 1
		- }

//- MAIN SLIDESHOW SLIDES
mixin slide(child_section, i)

	- var name = child_section.name ;
	- var cleanname = child_section.cleanname ;
	- var surname = child_section.surname ;
	- var cleanlink = child_section.cleanlink ;

	- var post = child_section.post ;
	- var mediablock = getComponentByName(child_section.post.bracket, 'media_main') 
	- var medias = mediablock.media ;
	- var media = section.name == 'home' ? medias[0].url : ((1 in medias) ? medias[1].url : medias[0].url) ;

	li.bg-dark.noselect(unselectable="on" style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
		.slidebg.slide-zoom.lazy(lazy=CDN + media, style='opacity:.3;')

		- if(name == 'home'){

			.hs-caption.container(style='top: 0px; display: table;')
				.caption-content.center
					h1.cover.biglogo.txtC
						span.hidden= cleanname
					.block.uppercase.montserrat(style='color:#333;margin-top: -25px; margin-left: 4px; font-size:15.5px;')= surname

					ul.links.dkt.context.TmarLg.sizeLg.noBd
						li(style='display: inline;')
							em.gowhite.bt.btn-border-slider-white.round.left.whiteBG.dkt= t('DKT__globals.company.accroche_1')
						li(style='display: inline;')
							em.goblack.bt.btn-border-slider-black.round.right.dktBG= t('DKT__globals.company.accroche_2')

		- }else if(name == 'techs'){

			.hs-caption.container(style='top: 0px; display: table;')
				.caption-content.left.vmiddle
					.hs-title-size-3.font-alt.m-b-20.context
						span.whiteBG.block.floatL.padSm.VpadXSm.round.both.dkt.uppercase= cleanname
					.hs-title-size-1.font-inc.LmarXXSm.Vmar.white
						span= surname

					+link({name:t("tech",  {count: 0}), cl:"dkt noBd", url:cleanlink})

		- }else if(name == 'products'){

			.hs-caption.container(style='top: 0px; display: table;')
				.caption-content.right.vmiddle
					.hs-title-size-3.font-alt.m-b-20.white
						span.uppercase= cleanname
					.hs-title-size-1.font-inc.LmarXXSm.BmarXLg
						span= surname

					+link({name:t("product",  {count: 0}), cl:"dkt noBd", url:cleanlink})

		- }else if(name == 'about'){
			.hs-caption.container(style='top: 0px; display: table;')
				.caption-content.left.vmiddle
					.hs-title-size-3.font-alt.m-b-20.white
						span.uppercase= cleanname
					.hs-title-size-1.font-inc.LmarXXSm.BmarXLg
						span= surname

					+link({name:t("company"), cl:"dkt noBd", url:cleanlink})
		- }else{
			- var even = i % 2 == 0 ;
			- var cl = even ? 'left' : 'right' ;
			
			.hs-caption.container(style='top: 0px; display: table;')
				.noproduct.caption-content(class=cl)
					.hs-title-size-3.font-alt.m-b-20.white
						span= cleanname
					.hs-title-size-1.font-inc.BmarXLg
						span= child_section.category.name

					+link({name:"product", cl:"dkt noBd", url:cleanlink})
		- }




//-  PATCHWORKS
mixin patchwork()
	.extra.rel.context(id=section.name + "_patchwork", class= section.name + "_patchwork")
		.patchwork.context.txtC.marbleBG
			- if(!!target_sections && target_sections.length){
				ul.works-grid.works-grid-masonry.works-grid-2.works-hover-w
					- var l = target_sections.length ;
					each child_section in target_sections
						+linkblock(child_section, true, "product")
					//- if(section.name!='home')
						each child_section in target_sections
							+linkblock(child_section, true, "product", "double")
			- }

//- 
//- 
//- 
//- ///////////////////////////////////////// OTHER CUSTOM BLOCKS

//- 
//- //////////////// HOME


//- TRANSITION LOADER ANIM
mixin transition_intro()
	.p-introduction__follow.js-transition-intro.is-shown
		.p-introduction__follow-in.p-introduction__follow-in--1
		.p-introduction__follow-in.p-introduction__follow-in--2
		.p-introduction__follow-in.p-introduction__follow-in--3

//- HP INTRODUCTION PAGE
mixin hpintro
	.extra.darkBG.context.rel.hpintro(style="height:80%")
		- var introcomponent = getComponentByName(section.post.bracket, 'home_intro') ;
		- var media = introcomponent.media ;
		- var background = media.shift() ;

		#noisecanvas.abs.fullW.fullH.context.lazy(lazy=CDN + background.url, style="background-repeat:no-repeat;background-position:left top;background-size:cover")
			//- 
		.abs.top0.left0.fullW
			+transition_intro
		
		.abs.top0.left0.fullW.secondslide
			.container(style="padding:5em 0")
				+innerheader(header, undefined, 'white')

			.container
				.context(style="height:450px")
					ol#slidrens.slidrens.fullH.context
						each frame, i in frames
							li.sizeXXXXLg.txtL.fullH
								- var cl = i % 2 == 0 ? 'txtL' : 'txtL' ;
								.line.fullH.rel
									.abs.fullH.slidetxt
										h3.sizeLg.lh1.pad.white(class=cl)= t(frame.title) 
										.sizeXSm.white.abs.left0.right0.bottom0(class=cl)
											.padXXXXLg
												:marked !{md(t(frame.text, locals))}
										.abs.top0.left0.right0.pad(style="margin-top:100px")
											a.block.arr.arrnext.floatR(href="#")
												span.hidden &gt;
											a.block.arr.arrprev.floatL(href="#")
												span.hidden &lt;
											
									.fullH.rounded.context
										.fullW.fullH.cover.lazy(lazy=CDN + media[i].url, style="background-repeat:no-repeat;background-position:left top;background-size:cover")


mixin why
	.extra.why.rel.context(id=section.name + "_why", class= section.name + "_why")
		
		- var introcomponent = component ;
		- var media = introcomponent.media ;
		
		.anthraxBG.context


			.container(style="padding:5em 0")
				+innerheader(header, subheader, 'dkt', 'dark')
				
			.container.pad0.rel.round.both.ivoryBG.context(style="margin-bottom:10em;")
				.line.columns
					each whyframe, i in whyframes
						- var cl = i % 3 == 2 ? "lastUnit" : "size1of3" ;
						.unit(class= cl)
							.block.img.rel.flowimg.fullW(style="height:400px")
								-var bg = media[i].url ;
								.strongpointbg.fullW.fullH.cover.lazy(lazy=CDN +  bg, style="background-repeat:no-repeat;background-position:left top;background-size:cover")
								.abs.block.bottom0.left0.right0.sizeXLg.rhdp.heavy.txtL
									a.block.HpadLg.VpadXSm.white.sizeXLg.lh1= t(whyframe.title) 
							.txtJ.marXXXXLg.padXSm
								:marked !{md(t(whyframe.text, locals))}

				.aboutgo(style="padding:3em 0 10em")
					+link({name:t(whylink.name), cl:"dkt", url: whylink.linkto})
				.line.txtL.round.ivoryBG.right(style="background:#E8E8E8;border:1px dashed #9d1639")
					.unit.endlogo.floatR.marXXLg
						span.hidden= t('DKT__globals.company.name')
					.lastUnit.sizeLg.marXXLg
						span.block.dkt.TmarXSm= t(ty)


//- //////////////// PRODUCTS


//- NEED INFO
mixin needinfo(number, cl)
	//- .sizeLg.marXXXLg.txtL
	.sizeLg
		:marked !{md(t('DKT__products.needinfo_01', locals))}
	.sizeR.BmarXLg
		:marked !{md(t('DKT__products.needinfo_02', locals))}
	
	.VmarXXXXLg
		+callus(number, cl)
		
	.sizeLg
		:marked !{md(t('DKT__products.needinfo_03', locals))}

//- CERTIFICATIONS

mixin certify
	.extra.rel.context(id=section.name + "_certify", class= section.name + "_certify")
		
		- var introcomponent = component ;
		- var media = introcomponent.media ;

		.container.rel
			.line.txtL.sizeLg.mar.pad.VpadXXLg
				+pageheader(section.cleanname, surname)

		.container.context.BmarXXXLg.sizeXXXLg.shady.round.both(style="background:#131313;")
			.line.rel.BpadXXXLg.marked(style="margin-bottom:3em;")
				.unit.size2of3.sizeXSm
					.sizeLg.marXXXLg.txtL

						.sizeLg.txtL.BmarXLg
							:marked !{md(t(title, locals))}

						each block, i in certifyblocks
							- if(i == 0){

								.line.context
									.unit.size1of3.floatR.txtR
										:marked !{md(t(block.text, locals))}
									.unit.lastUnit
										img.block.fullW(src= CDN + media[i].url)
							- }else{

								.line.context.TmarXXXLg
									.unit.size1of3
										p.sizeR.txtL.Tmar.Rmar
											:marked !{md(t(block.text, locals))}
									.unit.lastUnit
										img.block.fullW(src= CDN + media[i].url)
									
							- }


				.unit.lastUnit.sizeXSm.context
					.abs.bottom0.right0.size1of3.BmarginXXXLg
						.sizeLg.marXXXLg.txtR
							+needinfo(callnumber)


mixin dktlogosmall
	.endlogo.inlineblock(style="background-position:-120px -50px;")
		span.hidden= t('~')

//- //////////////// SINGLE PRODUCT

mixin productnav
	if(section.children)
		- var cat = "" ;
		- var curcat = child_section.category.name ;
		ul.sidebar.txtL.TmarXXLg.Vpad.sizeLg(category=curcat)
			each child,i in section.children
				- var chcat = child.category.name ;
				- var isCur = (chcat == curcat) ;
				if(cat !== chcat)
					- var catcl = isCur ? 'ocreBG dkt' : 'dkt' ;
					li.cat.context
						a.floatR.block.padXSm.txtR.round.both(class=catcl, href=child.cleanlink)= chcat
				- var cl = isCur ? "" : "none" ;
				li.context(category=chcat, class=(child_section == child ? cl + " active" : cl))
					a.block.txtR.padXSm.round.both(href=child.cleanlink)= child.cleanname
				- cat = chcat ;


mixin product
	.abs.top0.right0.sizeLg.zi20
		a.inlineblock.padXLg.Vpad0.inconsolata.dktBG.round.close_btn.white(href="#/" + lang + section.path)
			span.sizeLg x
	
	.container.rel.zi1
		.line
			.unit.size1of5
				//- menu
				+productnav

			.unit.lastUnit
				.line.txtL(style="margin-top:2em")
					.basics.unit.size1of3.txtL.Tpad.LpadXXXLg.BpadLg
						- basics.category = child_section.category.name
						+productbasics(basics)

					.unit.lastUnit.txtR.context.sizeLg.dkt.pad.BpadXXLg
						+pageheader(child_section.cleanname, child_section.surname)

				+productarticle
		
	.extra.flowvisible.rel(style='height:26em;')
		.abs.top0.left0.bottom0.right0
			span.hidden Image

		.aaa(style="margin-top:10em")
			+nextprev()
		
		.abs.left0.top0.bottom0.right0.context.sizeR.txtC.dkt.noBd
			+back({link : "/#/"+ lang + section.path, class:"dkthover", target:'products' })
			.line
				.pad.dkt.sizeXXXLg &bull;&nbsp;&bull;&nbsp;&bull;
		
		


mixin productarticle
	- locals.productname = child_section.cleanname ;
	- var medias = component.media ;
	
	.line.marked(style="margin-bottom:2em")
		.unit.lastUnit.dark.round.right.LpadLg(style="margin-top:0em")
			.Tmar.txtR.sizeLg
				:marked !{md(t(pointer + '.desc', locals))}
				
	.line(style="margin-top:1em;")
		.round.both.LmarXLg
			.txtL
				.line.Lpad(style="margin-bottom:3em;")
					.pad.txtL.marked
						:marked !{md(t(pointer + '.instr', locals))}
				.line.rel.fullW.adaptH
					ul.pics.fullH.round.left.flowvisible.ocreBG(style="width:100%;")
						- var len = 0 ;
						each media, i in medias
							+mediasmallslide(media)
							- len ++ ;
						if(len > 0)
							.arrow.next.abs.right0.top50.dktBG(style="width:40px;height:40px;z-index:1500")
								a.block.fullW.fullH.white.rhdp.heavy.txtC.sizeXXXLg(href="#") &gt;
							.arrow.prev.abs.left0.top50.dktBG(style="width:40px;height:40px;z-index:1500")
								a.block.fullW.fullH.white.rhdp.heavy.txtC.sizeXXXLg(href="#") &lt;

				
				.line.rel.ocreBG.round.right.inconsolata
					.pad
						span.sizeLg.block.dkt.uppercase= t('specs')
					.txtR
						table.tables.font-inc.dark(style="width:100%" row="4")
							tbody.lh2
								- var specs = t(pointer + '.specs', merge({returnObjects: true}, locals))
								each spec, specname in specs
									tr
										td.dkt.size1of3.txtL.Lpad.uppercase= specname 
										td.txtL.Rpad= spec
					.3dcontainer.context.fullW.ocreBG
						.padXLg.txtR.white
							+link({prename:'Load', name:'3D Model'})
						.canvascontainer.context.fullW.ocreBG.none(style="height:450px")

	.line.marked(style="margin-top:5em;margin-bottom:5em")
		
		.BmarginXXXLg.txtL.sizeLg.HmarXLg
			:marked !{md(t(pointer + '.concl', locals))}
		.line.VmarLg 
			.pad.dkt.sizeXXXLg &bull;&nbsp;&bull;&nbsp;&bull;
		.HmarXLg.txtL
			+needinfo('DKT__contact.telephone_sales')
		

mixin productbasics(basics)
	+dktlogosmall
	.line
		.txtL
			.font-inc.sizeXXLg
				span #{t('category')} 
				span.dkt #{basics.category.toUpperCase()}
			.font-inc
				span #{t('creation_year')} :
				span.dkt #{basics.year}
			.font-inc
				span #{t('tags')} : 
				span.dkt #{basics.tags.join(', ')}
			.font-inc 
				span #{t('desc_file')} : 
				a.dkt(href='/downloads/pdf/' + basics.file, target="_blank") #{basics.file}

//- NEXT & PREV LINKS
mixin nextprev()
	- var ch = section.children ;
	- var next = ch[ch.indexOf(child_section)+1] || ch[0] ;
	- var prev = ch[ch.indexOf(child_section)-1] || ch[ch.length - 1] ;
	.to_products.prev.abs.left0.bottom0.fullH.flowvisible.sizeR.txtL.size2of5.noBd
		- var cur = prev ;
		- var cleanname = cur.cleanname ;
		- var surname = cur.surname ;
		- var cleanlink = cur.cleanlink ;

		.cont.none.abs.bottom0.left0.right0.HmarXXXLg.round.both.dkt.dktBG
			.sizeSm.font-inc.white.padXXLg.VpadSm= t('prev')
			+linkblock(cur, false, 'product')
		.linker.abs.bottom0.left0.marXXXLg.size1of2
			//- a.inlineblock.sizeSm.font-inc.white.dktBG.round.both(href= cleanlink)
				span.block.padXXLg.VpadSm= t('prev')
			a.block(href= cleanlink).sizeXXLg.TmarXXSm.context
				span.inlineblock.dkt.lh1= cleanname
				span.block.sizeXSm.HmarXXXSm.uppercase.ls1= cur.category.name
				span.inlineblock.sizeXSm.font-inc.padXXLg.VpadSm.white.dktBG.round.both= t('prev')

	.to_products.next.abs.right0.bottom0.context.sizeR.txtR.size2of5.noBd
		- var cur = next ;
		- var cleanname = cur.cleanname ;
		- var surname = cur.surname ;
		- var cleanlink = cur.cleanlink ;

		.cont.none.abs.bottom0.left0.right0.HmarXXXLg.round.both.dkt.dktBG
			.sizeSm.font-inc.white.padXXLg.VpadSm= t('next')
			+linkblock(cur,  false, 'product')
		.linker.abs.bottom0.right0.marXXXLg.size1of2
			//- a.inlineblock.sizeSm.font-inc.white.dktBG.round.both(href= cleanlink)
				
			a.block(href= cleanlink).sizeXXLg.TmarXXSm.context
				span.inlineblock.dkt.lh1= cleanname
				span.block.sizeXSm.HmarXXXSm.uppercase.ls1= cur.category.name
				span.inlineblock.sizeXSm.font-inc.padXXLg.VpadSm.white.dktBG.round.both= t('next')



//- //////////////// ALL ARTICLES


mixin article(art, p)
	- p.component = art ;
	- var test = rfs(art.page.jade, art.page.path, p) ;
	- var p2 = merge(p, test) ;

	- var basejade = '' ;
	- var orijade = test.jade ;
	//- can be an array
	//- can be an object

	if(typeof orijade == 'string')
		- basejade = orijade ;
	else
		each jblock, jblockname in orijade
			- basejade += jblock ;
			script.
				console.log(!{JSON.stringify(jblockname)})
				console.log(!{JSON.stringify(jblock)})
	
	- var template = art.template ;
	- if(!!template) {
		- basejade = template.jade + basejade ;
	- }


	| !{ render(basejade, p2)}
	
//- //////////////// CONTACTS



mixin phoneus
	.line(lazy=CDN + component.media[0].url, style="background:url() no-repeat;background-position: 50% 74%")
		.container.rel
			.line.txtL(style="padding:4em 0 8em;")
				.unit.size1of3.txtL.context.pad.BpadXXLg
					+pageheader(phone, phone_txt)
				.unit.size3of5.floatR.sizeLg.TmarXXXLg
					.sizeSm.txtC(style="margin-top:8em")
						+callus(phone_number, 'marbleBG')
		hr



mixin emailus
	.line
		.container.rel(lazy=CDN + component.media[2].url, style="background:url() no-repeat;background-position: 0% 120%")
			.line.txtL(style="padding:4em 0 0")
				.unit.size1of3.txtL.context.sizeLg.dkt.pad.BpadXXLg
					+pageheader(email, email_txt)
				.unit.size3of5.floatR.VpadXXXLg.txtR
					+contactform()
		hr

mixin postus
	.line.ivoryBG
		.container.rel
			.line.txtR(style="padding:6em 0 0")
				.unit.size1of3.txtL.context.sizeLg.dkt.pad.BpadXXLg
					+pageheader(postmail, postmail_txt)
					p.TmarXXLg
						!= t(company_address_1)
						br
						!= t(company_address_2)
				.unit.lastUnit
					.mailbox(lazy=CDN + component.media[1].url, style="height:320px;background:url() no-repeat;background-position: 50% 4em")
						.hidden mailbox
		hr




//- CONTACT FORM
mixin contactform()
	.extra.TmarXXLg.rel.context.montserrat(id=section.name + "_contactform", class= section.name + "_contactform")
		form(action="#")
			.fline.context
				p
					label.Hpad.dkt(for="firstname")= t(firstname)
					input.Hpad.formBG(type="text" id="firstname" placeholder="")
			.fline.context
				p
					label.Hpad.dkt(for="lastname")= t(lastname)
					input.Hpad.formBG(type="text" id="lastname" placeholder="")
			.fline.context
				p
					label.Hpad.dkt(for="companyname")= t(companyname)
					input.Hpad.formBG(type="text" id="companyname" placeholder="")
			.fline.context
				p
					label.Hpad.dkt(for="email")= t(form_email)
					input.Hpad.formBG(type="text" id="email" placeholder="")
			.fline.context
				p
					label.Hpad.dkt(for="service")= t(service)
					select.Hpad.floatR.formBG(type="select" id="service")
						- var emails = t(contact_emails, { returnObjects: true}) ;
						- for (var str in emails) {
							option.fullW.fullH(value=emails[str])= str
						- }

			.fline.context
				p
					label.Hpad.dkt(for="messagebody")= t(message)
					input.Hpad.formBG(type="text" id="messagesubject" placeholder= t(subject))
				p
					textarea.pad.formBG(id="messagebody" style="width:100%;height:250px" type="text" placeholder=t(your_message))
			.fline.context
				p
					input.pad.dkt.formBG(type="submit" value=t(send))



//- ERROR PAGE
				
mixin error404
	.extra.err404.rel.context(id="block_404", class= "block_404")
		.anthraxBG.context

			.container.pad0.rel.round.both.ivoryBG.context(style="margin-top:3em;margin-bottom:10em;")
				.info404.sizeSm(style="padding:3em 0")
					+innerheader(section.name, t('errors.404.title'), 'dkt lh1', 'dark')
				hr
				.line
					.txtC.marXXXXLg.padXSm
						h2.sizeXLg.dkt= t('errors.404.not_found_01')
						.TmarLg
							:marked !{md(t('errors.404.not_found_02', locals))}
							
				hr
				.aboutgo(style="padding:3em 0 3em")
					- var o = {link : "#/"+ lang + '/home/', target:'$t(~)' }
					+back(o)





//- MAYBE NOT USED
