doctype html
html.abs.fullW.fullH.context.darkBG(lang=lang, style="overflow-y: auto;")
	head
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="black")
		meta(name="viewport" content="width=device-width, initial-scale=.7")
		meta(name="viewport" content="height=device-height, initial-scale=.7")
		meta(name="msapplication-TileColor" content="#da532c")
		meta(name="theme-color" content="#ffffff")

		link(rel="apple-touch-icon" sizes="180x180" href="/css/icons/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="/css/icons/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="/css/icons/favicon-16x16.png")
		link(rel="manifest" href="/css/icons/site.webmanifest")
		link(rel="mask-icon" href="/css/icons/safari-pinned-tab.svg" color="#5bbad5")


		link(rel="stylesheet" type="text/css" href="/css/all.css")

		//- FOR JADE PARSER SERVER FIRST JET
		
		title= title


		//- LATER FOR IN-BROWSER PARSER SERVER FIRST JET
		//-  FOR IN-BROWSER PARSER SERVER FIRST JET
		script.
			window.Data = !{JSON.stringify(db_sections)} ;
			console.log('DB Data sections', window.Data) ;
				

	body.abs.all.left0.right0.top0.bottom0.darkBG

		//- !!! IMPORTANT THIS WORKS
		//- | !{ render('include ./sam \nscript| console.log(!{JSON.stringify(locals)})', p(locals, {basedir:basedir, filename: basedir + 'sam.jade', data_section:data_section, db_section:db_section}))}
		//- | !{ renderFile(basedir + 'sam.jade', p(locals, { filename: basedir + 'sam.jade', data_section:data_section, db_section:db_section}))}



		block content
		
		#topbar.topbar.navbar.navbar-custom.navbar-fixed-top.RpadXXLg.LpadSm
			
			//- MAIN NAV SECTION LINKS
			ol.sectionsnav.flowvisible
				
				- var other = [].concat(db_sections) ;
				- var home = other.shift() ;
				
				//-  HOME SPECIAL CASE
				li.home.floatL(id= "global_" + 'home', class= "global_" + 'home')
					a.block.pad.inconsolata(href= '/#/' + lang + '/home/')
						span= t('DKT')
				
				//-  OTHERS CASE
				each navsection in other
					- var name = navsection.name ;
					li.others.floatL(id= "global_" + name, class= "global_" + name)
						a.block.pad.HpadXLg.inconsolata(href= '/#/' + lang + '/' + name + '/')
							span= name
				
			//- LAGUAGE BAR
			ul#langnav.langnav.context.floatR
				each language in langs
					- var active = language == lang ? ' active ' : '' ;
					li.floatL(id= "lang_" + language, class= "lang " + active + "lang_" + language)
						a.block.mar.HpadXSm.inconsolata.round.both(href='?lng=' + language, lang=language)
							span= language
