extends ./layouts/layout_simple


block full

block flow

	nav.data-container.none
		- var target_sections = data_section.children ;
		- var db_target_sections = db_section.children ;
		- if(!!target_sections && target_sections.length){
			- var ch = target_sections ;
			- var l = ch.length ;
			- for(var  i = 0 ; i < l ; i++){
				- var child = ch[i] ;
				- var db_child = db_target_sections[i] ;
				//- - console.log(child)
				section.subsection.fullH.whiteBG(id=child.name, class=child.name)
					- var product_section = child ;
					- var products_section = data_section ;


					script. 
						console.log(!{JSON.stringify(db_child)})

					include ./layouts/article
			- }
		- }

	.extra.rel.height50.zind30.context(id=data_section.name + "_slides", class= data_section.name + "_slides")
		include ./components/slides
	
	.extra.rel.half.context(id=data_section.name + "_patchwork", class= data_section.name + "_patchwork")
		include ./components/patchwork
		
	.extra.rel.context(id=data_section.name + "_credits", class= data_section.name + "_credits")
		include ./components/credits
	